services:
  api:
    build:
      context: .
      dockerfile: Dockerfile.api
    container_name: loan-api
    expose:
      - "8000"
    ports:
      - "8000:8000"
    env_file:
      - .env

  web:
    build:
      context: .
      dockerfile: Dockerfile.webapp
    container_name: loan-webapp
    ports:
      - "8050:8050"
    env_file:
      - .env
    depends_on:
      - api