# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Python application

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

permissions:
  contents: read

jobs:
  packages:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          lfs: true
      - name: Checkout LFS objects
        run: git lfs checkout
      - name: Set up Python 3.10
        uses: actions/setup-python@v3
        with:
          python-version: "3.10"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install uv
          uv sync
      - name: Test with pytest
        env:
          LOGTAIL_TOKEN: ${{ secrets.LOGTAIL_TOKEN }}
          LOGTAIL_HOST: ${{ vars.LOGTAIL_HOST }}
        run: |
          uv run pytest

  docker-build:
    needs: packages
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build API image
        run: docker build -t loan-scoring-model-api -f Dockerfile.api .

      - name: Build WebApp image
        run: docker build -t loan-scoring-model-web -f Dockerfile.webapp .
  
  sync-to-hub:
    needs: docker-build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          lfs: true
      - name: Push to hub
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: git push https://poppybunny:$HF_TOKEN@huggingface.co/spaces/poppybunny/loan-scoring-model main


